#cv-template{
    display:none;
}
#md-4{

    border: 1px solid rgb(152,29,151);
    background-color: rgb(152,29,151);
    color:whitesmoke;

    
}

#name1{
    color:whitesmoke;
    font-weight: 900;

}
#details{

    padding-left: 40px;
}

#ind,#date,#place {
    color:whitesmoke;
}
#edui,#proi,#certi{
    background-color:rgb(152,29,151);
    display: block;
    margin-bottom:0px;
    border-radius: 8x;
    color:whitesmoke;
    
}
#edutemp,#protemp,#certtemp{

    border:  3px solid whitesmoke;
    border-end-start-radius:10px;
    border-end-end-radius: 10px;
    box-shadow: 10px 10px whitesmoke;
}
#profes{
    text-decoration:underline lightslategray;
}


